// features:
    // 1.0
    // standard behavior (block/inline/font size/box sizing/scroll-behavior)
    // 2.0
    // standard body (full width, full height)
    // standard spacing (no margin/padding)
    // 3.0
    // standard header sizing
    // standard font

@import "./2.sass"

// 
// 
// 3.0 Rules
// 
// 

// 
// Standard header sizing
// 
h1  
    font-size: 2.78rem 
h2  
    font-size: 2.454rem 
h3  
    font-size: 2.128rem 
h4  
    font-size: 1.802rem 
h5  
    font-size: 1.476rem 
h6  
    font-size: 1.15rem

//
// use sans-serif by default
//
body
    font-family: sans-serif

// 
// make scroll bar look similar
// 
:root
    --css-baseline-scrollbar-background: lightgray
    --css-baseline-scrollbar-foreground: dimgray
    
*
    scrollbar-color: var(--css-baseline-scrollbar-foreground) var(--css-baseline-scrollbar-background)

*::-webkit-scrollbar
    width: 10px

*::-webkit-scrollbar-track
    background: var(--css-baseline-scrollbar-background)

*::-webkit-scrollbar-thumb
    background-color: var(--css-baseline-scrollbar-foreground)
    border: 2px solid var(--css-baseline-scrollbar-background)
    border-radius: 20px
    
